* {
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.clearfix {
    *zoom: 1;
}

#middlepart {
    padding-top: 52px;
}
#middlepart .title {
    display: inline-block;
    padding: 0 35px 9px;
    -o-transform: skewX(-25deg);
    -moz-transform: skewX(-25deg);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
#middlepart .title h2 {
    font-size: 38px;
    font-family: OSBold;
    line-height: 1;
    -o-transform: skewX(15deg);
    -moz-transform: skewX(15deg);
    -webkit-transform: skewX(15deg);
    transform: skewX(15deg);
}
#middlepart .title.main {
    border: 3px solid #cf1e26;
    background: #fff;
}
#middlepart .title.main_white {
    border: 3px solid #fff;
    color: #fff;
}

#middlepart .btn_red {
    -o-transform: skewX(-25deg);
    -moz-transform: skewX(-25deg);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
    font-family: OSBold;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    background: #ce1d24;
    display: inline-block;
    padding: 10px 15px;
}
#middlepart .btn_red span {
    display: inline-block;
    -o-transform: skewX(15deg);
    -moz-transform: skewX(15deg);
    -webkit-transform: skewX(15deg);
    transform: skewX(15deg);
}
#middlepart .btn_red img {
    float: right;
    -o-transform: skewX(25deg);
    -moz-transform: skewX(25deg);
    -webkit-transform: skewX(25deg);
    transform: skewX(25deg);
}

#middlepart .btn_gray {
    -o-transform: skewX(-25deg);
    -moz-transform: skewX(-25deg);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
    font-family: OSBold;
    font-size: 15px;
    color: #000;
    text-decoration: none;
    background: #fff;
    display: inline-block;
    padding: 8px 15px;
    border: 3px solid #dcdcdc;
}
#middlepart .btn_gray span {
    display: inline-block;
    -o-transform: skewX(25deg);
    -moz-transform: skewX(25deg);
    -webkit-transform: skewX(25deg);
    transform: skewX(25deg);
}
#middlepart .btn_gray img {
    float: right;
    margin-left: 15px;
    margin-top: 5px;
    -o-transform: skewX(25deg);
    -moz-transform: skewX(25deg);
    -webkit-transform: skewX(25deg);
    transform: skewX(25deg);
}

/* Anchornav
------------------------------------------------------------------------------------ */
#anchornav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
    border-top: 1px solid #fff;
}
#anchornav ul {
    width: 952px;
    margin: 0;
    list-style: none;
    z-index: 1;
    background: #000;
    height: 52px;
    -o-transform: skewX(-25deg);
    -moz-transform: skewX(-25deg);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
#anchornav ul li {
    float: left;
}
#anchornav ul a {
    display: block;
    padding: 13px 21px 15px;
    text-align: center;
    -webkit-transition: .5s all ease-out;
    -moz-transition: .5s all ease-out;
    transition: .5s all ease-out;
    color: #fff;
    text-decoration: none;
    font-family: OSBold;
    font-size: 18px;
}
#anchornav ul a span {
    display: inline-block;
    -o-transform: skewX(25deg);
    -moz-transform: skewX(25deg);
    -webkit-transform: skewX(25deg);
    transform: skewX(25deg);
}
#anchornav ul a img {
    float: right;
    margin-left: 5px;
    margin-top: 10px;
    -o-transform: skewX(25deg);
    -moz-transform: skewX(25deg);
    -webkit-transform: skewX(25deg);
    transform: skewX(25deg);
}
#anchornav ul a:hover {
    color: #000;
    background: #ececec;
}
#anchornav ul li.active a {
    color: #000;
    background: #ececec;
}

/* Newcar
------------------------------------------------------------------------------------ */
#middlepart .newcar_container {
    padding: 30px 0 90px;
}
#middlepart .newcar_container .car_info {
    width: 270px;
    float: left;
}
#middlepart .newcar_container .car_info .name {
    font-family: OSBold;
    -o-transform: skewX(-10deg);
    -moz-transform: skewX(-10deg);
    -webkit-transform: skewX(-10deg);
    transform: skewX(-10deg);
    padding-left: 5px;
}
#middlepart .newcar_container .car_info .name span {
    font-size: 30px;
    color: #e40600;
    line-height: 1;
}
#middlepart .newcar_container .car_info .name p {
    font-size: 66px;
    line-height: 1;
}
#middlepart .newcar_container .car_info .price {
    border-bottom: 2px solid #e20700;
    margin-bottom: 10px;
}
#middlepart .newcar_container .car_info .price p {
    font-size: 22px;
    color: #aaaaaa;
    line-height: 1;
    margin-bottom: 10px;
    margin-top: 10px;
    -o-transform: skewX(-10deg);
    -moz-transform: skewX(-10deg);
    -webkit-transform: skewX(-10deg);
    transform: skewX(-10deg);
}
#middlepart .newcar_container .car_info .price p span {
    font-size: 35px;
    line-height: 16px;
    font-family: OSBold;
    color: #000;
    display: inline-block;
}
#middlepart .newcar_container .car_info .charact {
    margin-bottom: 20px;
}
#middlepart .newcar_container .car_info .charact p {
    float: left;
    font-family: OSBold;
    font-size: 14px;
    color: #747474;
    margin-right: 20px;
}
#middlepart .newcar_container .car_info .drive .btn_red {
    width: 100%;
}
#middlepart .newcar_container .car_info .drive .btn_red img {
    float: right;
    margin-right: 10px;
    margin-top: 2px;
}
#middlepart .newcar_container .car_info form {
    padding-right: 35px;
}
#middlepart .newcar_container .car_info form .inp_container {
    position: relative;
    margin-top: 15px;
}
#middlepart .newcar_container .car_info form .inp_container input[type="text"] {
    width: 100%;
    height: 31px;
    background: #f4f4f4;
    padding: 0 10px;
    border: 1px solid #dedede;
    font-family: OSRBold;
    font-size: 13px;
}
#middlepart .newcar_container .car_info form .inp_container:after {
    content: '*';
    position: absolute;
    top: -10px;
    right: -10px;
    color: #ce1d24;
}
#middlepart .newcar_container .car_info form .btn_red {
    float: right;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    margin-right: -35px;
}
#middlepart .newcar_container .car_info form p {
    color: #bbbbbb;
    font-size: 11px;
    font-style: italic;
    margin: 5px 0 10px;
}
#middlepart .newcar_container .car_info form p span {
    font-family: OSRBold;
    font-size: 13px;
    color: #ce1d24;
}
#middlepart .newcar_container #newcar_slider {
    width: 600px;
    float: right;
    position: relative;
}
#middlepart .newcar_container .rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }
#middlepart .newcar_container .rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }
#middlepart .newcar_container .rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }
#middlepart .newcar_container .rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
#middlepart .newcar_container .callbacks_container {
  margin-bottom: 50px;
  position: relative;
  float: left;
  width: 100%;
  }
#middlepart .newcar_container .callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }
#middlepart .newcar_container .callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  }
#middlepart .newcar_container .callbacks img {
  display: block;
  position: relative;
  z-index: 1;
  height: auto;
  width: 100%;
  border: 0;
  }
#middlepart .newcar_container .callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  bottom: 0;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 38px;
  width: 64px;
  margin-bottom: -40px;
  background: #000;
  }
#middlepart .newcar_container .callbacks_nav:active {
  opacity: 1.0;
  }
#middlepart .newcar_container .callbacks_nav.prev {
    right: 150px;
  background: url(../images/newcar_prev.png);
}
#middlepart .newcar_container .callbacks_nav.next {
  background: url(../images/newcar_next.png);
  right: 100px;
  }


/* Gallery
------------------------------------------------------------------------------------ */
#middlepart .gallery_container {
    background: #f4f7fa;
    padding: 70px 0;
}
#middlepart .gallery_container ul.tabs {
    height: 28px;
    list-style: none;
    display: inline-block;
    margin-top: 20px;
    margin-left: 15px;
}
#middlepart .gallery_container .tabs li {
    display: inline-block;
    cursor: pointer;
    position: relative;
    color: #000;
    font-family: OSBold;
    font-size: 16px;
    color: #828282;
    margin: 0 2px;
    padding: 5px 10px;
    -o-transform: skewX(-25deg);
    -moz-transform: skewX(-25deg);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
#middlepart .gallery_container .tabs li span {
    display: block;
    -o-transform: skewX(25deg);
    -moz-transform: skewX(25deg);
    -webkit-transform: skewX(25deg);
    transform: skewX(25deg);
    border-bottom: 1px solid transparent;
}
#middlepart .gallery_container .tabs li:hover span {
    border-bottom: 1px dotted #828282;
}
#middlepart .gallery_container .tabs li.current {
    background: #000;
    color: #fff;
}
#middlepart .gallery_container .tabs li.current:hover span {
    border-color: transparent;
}
#middlepart .gallery_container .tabs li.current:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 6px solid #f4f7fa;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -4px;
    -o-transform: skewX(25deg);
    -moz-transform: skewX(25deg);
    -webkit-transform: skewX(25deg);
    transform: skewX(25deg);
}
#middlepart .gallery_container .box {
    display: none;
    margin-top: 40px;
}
#middlepart .gallery_container .box .left_column {
    float: left;
    width: 59%;
}
#middlepart .gallery_container .box .right_column {
    float: right;
    width: 40.5%;
}
#middlepart .gallery_container .box a {
    cursor: pointer;
}
#middlepart .gallery_container .box .clearfix img {
    width: 100%;
    display: inline-block;
    margin-bottom: 6px;
}
#middlepart .gallery_container .box a.big_image img {
    width: 565px;
}
#middlepart .gallery_container .box a.medium_image img {
    width: 312px;
    height: 170px;
    margin-right: 3px;
}
#middlepart .gallery_container .box a.medium2_image img {
    height: 295px;
}
#middlepart .gallery_container .box a.medium3_image img {
    width: 262px;
    height: 234px;
    float: left;
}
#middlepart .gallery_container .box a.smaller_image img {
    width: 247px;
    height: 170px;
}
#middlepart .gallery_container .box a.small_image img {
    width: 120px;
    height: 114px;
    float: right;
}
#middlepart .gallery_container .box.visible {
    display: block;
}
#middlepart .gallery_container .box .btn_container {
    text-align: center;
    padding-top: 40px;
}

/* Features
------------------------------------------------------------------------------------ */
#middlepart .features_container {
    padding: 70px 0 40px;
    background: #000;
}
#middlepart .features_container .title {
    margin-bottom: 100px;
}
#middlepart .features_container .carousel_container {
    margin-top: 25px;
    clear: both;
    height: 400px;
    position: relative;
}
#middlepart .features_container .carousel_container .prev,
#middlepart .features_container .carousel_container .next {
    background: none;
    width: 37px;
    height: 63px;
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    z-index: 50;
    cursor: pointer;
    padding: 0;
}
#middlepart .features_container .carousel_container .prev {
    left: -60px;
}
#middlepart .features_container .carousel_container .next {
    right: -45px;
}
#middlepart .features_container .carousel {
    margin: auto;
}
#middlepart .features_container .carousel ul li {
    height: 400px;
    width: 160px;
    font-size: 12px;
}
#middlepart .features_container .carousel ul li img {
    margin-bottom: 10px;
}
#middlepart .features_container .carousel ul li h2 {
    margin-bottom: 2px;
    color: #fff;
    padding: 0 5px;
}
#middlepart .features_container .carousel ul li p {
    color: #777;
    padding: 0 5px;
}

/* Model
------------------------------------------------------------------------------------ */
#middlepart .model_container {
    padding: 70px 0 120px;
}
#middlepart .model_container .btn_gray {
    float: right;
    margin-top: 15px;
}
#middlepart .model_container .btn_gray img {
    margin-top: 0;
}

/* Instock
------------------------------------------------------------------------------------ */
#middlepart .instock_container {
    background: #f4f7fa;
    padding: 70px 0 40px;
}
#middlepart .instock_container .title {
    margin-bottom: 40px;
    padding: 3px 35px 6px;
}
#middlepart .instock_container .title h2 {
    font-size: 30px;
}
#middlepart .instock_container ul li {
    float: left;
    width: 288px;
    margin-right: 48px;
    margin-bottom: 40px;
    padding: 5px 35px 35px;
    background: #fff;
    border: 1px solid #e3e4e6;
    position: relative;
}
#middlepart .instock_container ul li:nth-child(3n+3) {
    margin-right: 0;
}
#middlepart .instock_container ul li .instock_title {
    margin-bottom: 5px;
}
#middlepart .instock_container ul li .instock_title span {
    font-size: 13px;
}
#middlepart .instock_container ul li .instock_title h5 {
    font-size: 22px;
    font-weight: bold;
    line-height: 1;
}
#middlepart .instock_container ul li .image_container {
    text-align: center;
}
#middlepart .instock_container ul li .btn_red {
    padding: 10px 30px;
    position: absolute;
    left: 50%;
    bottom: -15px;
    margin-left: -30px;
}
#middlepart .instock_container ul li .btn_red img {
    margin-left: 5px;
    margin-top: 2px;
}

#middlepart .instock_container .btn_container {
    margin-top: 20px;
    text-align: center;
}
#middlepart .instock_container .btn_container .btn_gray span span {
    -o-transform: skewX(0deg);
    -moz-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
    font-size: 21px;
    color: #cf1e26;
    line-height: 18px;
}

/* Offer
------------------------------------------------------------------------------------ */
#middlepart .offer_container {
    padding: 70px 0 230px;
}
#middlepart .offer_container .offer_title_container {
    margin-bottom: 100px;
    position: relative;
    text-align: center;
}
#middlepart .offer_container .offer_title_container a.all_offers {
    background: #8f97a2;
    -o-transform: skewX(-25deg);
    -moz-transform: skewX(-25deg);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-family: OSBold;
    font-size: 15px;
}
#middlepart .offer_container .offer_title_container a.all_offers span {
    display: inline-block;
    padding: 5px 20px 5px 130px;
    -o-transform: skewX(15deg);
    -moz-transform: skewX(15deg);
    -webkit-transform: skewX(15deg);
    transform: skewX(15deg);
}
#middlepart .offer_container .offer_title_container a.all_offers img {
    float: right;
    -o-transform: skewX(25deg);
    -moz-transform: skewX(25deg);
    -webkit-transform: skewX(25deg);
    transform: skewX(25deg);
    margin-right: 20px;
    margin-top: 17px;
}
#middlepart .offer_container .offer_title_container .title {
    padding: 3px 35px 6px;
    position: absolute;
    top: -10px;
    left: 0;
    z-index: 5;
}
#middlepart .offer_container .offer_title_container .title h2 {
    font-size: 30px;
}
#middlepart .offer_container ul li {
    float: left;
    width: 234px;
    margin-right: 40px;
}
#middlepart .offer_container ul li .image_container {
    background: #ececec;
    padding: 6px;
    margin-bottom: 10px;
}
#middlepart .offer_container ul li p {
    font-size: 12px;
}
#middlepart .offer_container ul li a {
    font-family: OSBold;
    font-size: 16px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}
#middlepart .offer_container ul li a:before {
    content: '';
    float: left;
    width: 25px;
    height: 15px;
    background: url(../images/red_arrow.png);
    margin-right: 5px;
    margin-top: 4px;
}

/* Footer
------------------------------------------------------------------------------------ */

.footer_conteiner .soc a {
    width: 24px;
    height: 30px;
    background: url(../images/sprite1.png) no-repeat;
    display: inline-block;
}
.footer_conteiner .soc a.socialfb {
    background-position:  -2px -245px;
}
.footer_conteiner .soc a.socialtw {
    background-position:  -28px -245px;
}
.footer_conteiner .soc a.socialvk {
    background-position:  -55px -245px;
}







































